<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoItX.Dotnet" version="3.3.14.5" targetFramework="net461" />
  <package id="BoDi" version="1.4.1" targetFramework="net461" />
  <package id="DnsClient" version="1.2.0" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="ExtentReports" version="4.0.3" targetFramework="net461" />
  <package id="Gherkin" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.8.1" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.8.1" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.8.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.14.0" targetFramework="net461" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.13400" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.59" targetFramework="net461" />
  <package id="Selenium.WebDriver.MicrosoftDriver" version="17.17134.0" targetFramework="net461" />
  <package id="Sendgrid" version="9.11.0" targetFramework="net461" />
  <package id="Shouldly" version="3.0.2" targetFramework="net461" />
  <package id="SpecFlow" version="3.0.225" targetFramework="net461" />
  <package id="SpecFlow.NUnit" version="3.0.225" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net461" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net461" />
</packages>